# Flask==2.3.3
# Flask-SQLAlchemy==3.0.5
# python-dotenv==1.0.0
# gunicorn==21.2.0
# psycopg[binary]==3.2.1 # For PostgreSQL on Render; optional for local SQLite
# Flask-WTF>=1.0
# python-dotenv>=0.21

Flask==3.0.3
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
Flask-WTF==1.2.2
gunicorn==22.0.0
psycopg[binary]==3.2.10
